{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
  {jsone, {git, "git://github.com/sile/jsone.git", {tag, "v0.3.3"}}}
]}.

{vsn, "0.0.1"}.

{relx, [
  {release, {filestore, "0.0.1"}, [filestore]},

  {dev_mode, false},
  {include_erts, false},

  {vm_args, "priv/vm.args"},
  {overlay_vars, "priv/vars.config"},

  {extended_start_script, true},

  %{sys_config, "priv/sys.config"},

  {overlay, [
    {template, "priv/sys.config", "releases/{{release_version}}/sys.config"}
  ]}

]}.

{dist_node, [
  {setcookie, filestore_es3},
  {sname, es3_1}
]}.

{apps, [filestore]}.

