{erl_opts, [debug_info]}.

{deps, [

]}.

{vsn, "0.0.1"}.

{relx, [
  {release, {filestore, "0.0.1"}, [filestore]},

  {dev_mode, false},
  {include_erts, false},

  {vm_args, "priv/vm.args"},
  {overlay_vars, "priv/vars.config"},

  {extended_start_script, true},

  %{sys_config, "priv/sys.config"},

  {overlay, [
    {template, "priv/sys.config", "releases/{{release_version}}/sys.config"}
  ]}

]}.

{apps, [filestore]}.

